body {
  display: flex;
  flex-direction: column; /* Allow vertical stacking */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center horizontally */
  background-color: #121212; /* Background color */
  overflow: hidden;
  margin: 0;
  height: 100vh; /* Full height of the viewport */
  background-image: url('/Imgs/background.jpg');
  background-size: cover; /* Stretches the background to cover the entire screen */
  background-repeat: no-repeat; /* Prevents background from repeating */
  background-position: center; /* Centers the background image */
}

.navbar {
  display: flex;
  gap: 2vw; /* Space between buttons */
  justify-content: center; /* Center the buttons */
  width: 100%; /* Make the navbar full width */
  padding: 1vh 0; /* Vertical padding for spacing */
  position: absolute; /* Positioning to move to the top */
  top: 0; /* Align to the top */
  background: rgba(255, 255, 255, 0.2); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blurs the content behind the navbar */
  -webkit-backdrop-filter: blur(10px); /* Ensures compatibility with Safari */
  z-index: 10; /* Ensure the navbar is above other content */
}

.nav-button {
  background: rgba(255, 255, 255, 0.2); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blurs the content behind */
  -webkit-backdrop-filter: blur(10px); /* Ensures compatibility with Safari */
  border-radius: 2vh; /* Rounded corners based on viewport height */
  border: 0.4vh solid rgba(255, 255, 255, 0.4); /* Border based on viewport height */
  padding: 0.5vw 2vw;
  font-size: 3vh; /* Font size based on viewport height */
  text-transform: uppercase; /* Makes text uppercase */
  letter-spacing: 0.3vh; /* Adds space between letters, using vh */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  color: #fff; /* Text color */
  box-shadow: 0 1vh 1.5vh rgba(0, 0, 0, 0.3); /* Shadow using vh for consistent scaling */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
}

.nav-button:hover {
  transform: scale(1.05); /* Scale effect on hover */
  box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20vh; 
}

.iframe-container {
  width: 65vw;
  height: 65vh;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  border-color: #fff;
  border-width: .25vw;
}

.open-blank-button {
  margin-top: 20px; /* Adds some space above the button */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  background-color: #ffffff; /* Button color */
  color: rgb(0, 0, 0); /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.open-blank-button:hover {
  background-color: #e4e4e4; /* Darker shade on hover */
}
