*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #808080;
  color: white;
  background-image: url('/Imgs/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
}

.container {
  display:flex;
  height: 90vh;
  align-items: center;
  padding-top: 12vh;
  padding-left: 1.3vw;
  position: fixed;
}

/* Sidebar Nav */
.sidebar {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 6vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
  gap: 4.7vh;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}


.sidebar img {
  width: 4.5vw;
  height: 10vh;
  transition: transform 0.3s ease;
}

.sidebar img:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20vh; 
}

.iframe-container {
  width: 65vw;
  height: 65vh;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  border-color: #fff;
  border-width: .25vw;
}

.open-blank-button {
  margin-top: 20px; /* Adds some space above the button */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  background-color: #ffffff; /* Button color */
  color: rgb(0, 0, 0); /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.open-blank-button:hover {
  background-color: #e4e4e4; /* Darker shade on hover */
}
